<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756262299687-hl8v48p10bpiqgjn7nrks3s4lefp82ns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756262299687-hl8v48p10bpiqgjn7nrks3s4lefp82ns</string>
	<key>API_KEY</key>
	<string>AIzaSyBHqWyXRFRxA1wak4IYBsfsZWpyMRoosuY</string>
	<key>GCM_SENDER_ID</key>
	<string>756262299687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.register</string>
	<key>PROJECT_ID</key>
	<string>register-page-4a9a4</string>
	<key>STORAGE_BUCKET</key>
	<string>register-page-4a9a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756262299687:ios:8f71ffb7e298f95cbb4602</string>
</dict>
</plist>